[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
tqdm = "*"
tabulate = "*"
snntorch = "*"
adversarial-robustness-toolbox = "*"
matplotlib = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
