[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "pytorch-cu118"

[packages]
torch = {version = "*", index = "pytorch-cu118"}
torchvision = {version = "*", index = "pytorch-cu118"}
tqdm = "*"
tabulate = "*"
snntorch = "*"
adversarial-robustness-toolbox = "*"
matplotlib = "*"
scikit-image = "*"
setuptools = "==69.5.1" # WARNING: issues in 70.0.0, pkg_resources import crap
foolbox = "*"
brokenaxes = "*"
google-cloud-storage = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
