[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch-cu121"
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true

[packages]
torch = "==2.2.2"
torchvision = "==0.17.2"
tqdm = "*"
tabulate = "*"
snntorch = "*"
adversarial-robustness-toolbox = "*"
matplotlib = "*"
scikit-image = "*"
setuptools = "==69.5.1" # WARNING: issues in 70.0.0, pkg_resources import crap
foolbox = "*"
brokenaxes = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.10"
